
<p class="navbar-text pull-right">
  <% if user_signed_in? %>

  <div class="btn-large waves-effect #fafafa grey lighten-5">
  <%= link_to new_post_path do %> New post <% end %>
  </div>

  <% @posts.each do |post| %>
    <p>
      <div class="center-align card-panel">
      <div class="flow-text" style="text-align: justify; text-align-last: center; font-size :17px;">
      <%= simple_format(post.message).html_safe %>
      </div>
      <div style="font-size: 13px">
      <div style="font-weight: bold; color: blue; font-size :15px"><%= post.user.email %></div> at <%= post.created_at.strftime('%d-%m-%Y') %><br>
      </div>
      <%= post.likes.all.length %>

      <% my_like = Like.where(user_id: current_user.id, post_id: post.id)%>
      <% if my_like.exists? %>
        <%= link_to "ðŸ‘", post_like_path(post, my_like), method: :delete, :id => 'Like' %>
      <% else %>
        <%= link_to "ðŸ‘", post_likes_path(post), method: :post, :id => 'Like' %>
      <% end %>
  </p>

    <% if current_user.id == post.user_id %>
      <div class="btn waves-effect #fafafa grey lighten-5"> <%= link_to "Update", edit_post_path(post) %></div>
      <div class="btn waves-effect #fafafa grey lighten-5"> <%= link_to "Delete", post_path(post), method: :delete %></div>
    <% end %>

    </div>  <!--card div-->
  <% end %>
  </div>

  <% else %>
  <div class="card-panel center-align">
    <p>Please sign up or login to use Acebook!</p>
    <div class="btn waves-effect #fafafa grey lighten-5"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </div>
    <div class="btn waves-effect #fafafa grey lighten-5"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> </div>
  <% end %>
  </div>
</p>
